
label{
    font-size: 2em;
    color: rgb(0, 48, 0);
    text-shadow: rgb(22, 156, 22) 0em 0.025em; 
    display: block;
}
input{
    display: block;
    position: relative;
    left: 0.5em;
    margin-bottom: 1em;
    border: darkgreen solid 0.25em;
    border-radius: 0.25em;
    background-color: rgb(130, 172, 130);
    text-indent: 0.1em;
    font-size: 1.5em;
    transition: 0.15s;
}
input[type="submit"]
{
    display: inline-block;
    padding: 0.2em;
    transition: 0.15s;
}
input[type="reset"]
{
    display: inline-block;
    padding: 0.2em;
    transition: 0.15s;
}
input:focus{
    background-color: rgb(200, 255, 189);
}
#main{
    text-indent: 0em;
}